/* PAGE */

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
  color: #586268;
}

body{
  background-color: #F9FCFD;
  color: #586268;
}

h1, h2, h3 {
  font-family: 'Open Sans';
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

/* NAVBAR */

.navbar {
  position: fixed;
  padding: 5px;
  background: #0c1a2b;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.navbar a {
  color: #fff;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #233e5e;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}

.yes {
  border-radius: 20px;
  color: #64D094;
  padding:0.7em 1.7em;
  margin:0 0.3em 0.3em 0;
  border-color: #DDDDDD;
  background-color: white;
}

.no {
  border-radius: 1.5em !important;
  color: #EB7E7B;
  padding:0.7em 1.7em;
  margin:0 0.3em 0.3em 0;
  border-color: #DDDDDD;
  background-color: white;
}

.cta-button {
  color: white;
  background: #66e3e1; /* Old browsers */
  background: -moz-linear-gradient(left, #66e3e1 1%, #56c5e0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #66e3e1 1%,#56c5e0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #66e3e1 1%,#56c5e0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66e3e1', endColorstr='#56c5e0',GradientType=1 ); /* IE6-9 */
  box-shadow: none;
  border-style: none;
  border-radius: 5px;
  padding:0.7em 1.7em;
  margin:0 0.3em 0.3em 0;
  border-radius:0.2em;
}

.delegateVoteView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.text {
  border-color: #99A0A2;
  border-radius: 5px;
  border-style: solid;
  /*box-shadow: none;*/
  /*border-style: none;*/
}

.delegateSection2 {
  display: flex;
  flex-direction: column;
  margin: 20px 3px;
  justify-content: space-between;
}

.delegateContainer2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

#delegate {
  height: 75px;
  width: 75px;
}

.input {
  margin: 10px 10px 20px 10px;
}

.small {
  font-size: 10px;
}

.no-pad {
  margin: 0;
  padding: 0;
}

#submit2 {
  height: 50px;
}

.center {
  text-align: center;
}

.VoteStatus {
  margin: 20px 5px;
}

.voteInput {
  margin: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
